[2021-04-14 13:28] JensUweUlrich opened #2 "options for basecall_threads and classification_threads"
Create command line options for specification of the number of basecalling and classification threads

[2021-04-14 13:31] JensUweUlrich opened #3 "automatic RNN size selection"
create "test settings" option in order to test which deepNano-blitz RNN size is best for a given architecture

[2021-04-14 13:51] JensUweUlrich opened #4 "add test for classification speed"
add classification speed test to "test settings" for current hardware and give recommended settings as output to user

[2021-04-14 14:20] JensUweUlrich opened #5 "use ssl/tls credentials for connection to MinKNOW"
related to https://github.com/nanoporetech/minknow_api/issues/16
and https://stackoverflow.com/questions/40623793/use-ssl-in-grpc-client-server-communication
and

[2021-04-16 18:31] #2 closed, assigned to JensUweUlrich

[2021-04-16 18:52] JensUweUlrich opened #6 "Break reads after seconds"
add method to change the "break_reads_after_seconds" settings in ReadUntil::AnalysisConfiguration

[2021-04-16 19:58] #6 closed, assigned to JensUweUlrich

[2021-04-19 17:58] JensUweUlrich opened #8 "Improve output of filter statistics"
Actually statistics is printed out as if we always write or update an IBF.

**Task:**
Print different output for loading IBF adding kmer size in output as well.

[2021-04-23 15:34] #5 closed, assigned to JensUweUlrich

[2021-04-23 16:16] JensUweUlrich opened #10 "Create Linux branch"
1. Try to compile without ReadUntil and basecalling library on linux
2. Add and test base calling with deepnano-blitz
3. add ReadUntil library

[2021-04-28 09:12] JensUweUlrich opened #11 "Exchange precompiled MKL libraries"
Integrate open source MKL library for DeepNano instead of precompiled ones
https://github.com/oneapi-src/oneMKL#building-with-cmake

[2021-05-07 12:26] #10 closed, assigned to JensUweUlrich

[2021-05-07 19:17] JensUweUlrich opened #14 "build IBF automatically"
give reference fasta to classify or live-depletion and build IBF automatically from fasta

[2021-05-11 15:48] JensUweUlrich opened #15 "Start depletion only after MUX scan"
Wait with receiving signals and classification until MUX scan has finished

[2021-05-12 16:38] JensUweUlrich opened #16 "Integrate Guppy GPU basecalling"
Use CUDA-C++ and ont_core_cpp to integrate basecalling directly into NanoLIVE without exchanging messages with the basecall_server. Create 2 versions of NanoLIVE, one with CPU basecalling and one with GPU basecalling? Or let NanoLIVE check for GPU in the system and let user choose GPU or CPU?

[2021-05-12 19:41] #8 closed, assigned to JensUweUlrich

[2021-05-12 20:58] JensUweUlrich opened #17 "Send RPC info messages to MinKNOW"
Log messages should pop up in message window of MinKNOW

[2021-07-01 10:57] #3 closed, assigned to JensUweUlrich

[2021-07-01 11:01] JensUweUlrich opened #18 "Missing unblock calls by MinKNOW"
MinKNOW seems to ignore some unblock calls => investigate message sending

[2021-07-30 08:50] #18 closed, assigned to JensUweUlrich

[2021-07-30 10:16] #11 closed, assigned to JensUweUlrich

[2021-07-30 17:02] JensUweUlrich opened #21 "Exchage DeepNano with Osprey"
Osprey is a new CPU base caller that has higher accuracy than DeepNano.

[2021-09-23 13:34] JensUweUlrich opened #22 "Introduce TOML configuration file"
Read/Write configuration file for ReadBouncer including all parameter settings in order to improve the reproducibility of experiments. Start ReadBouncer by using only the TOML configuration file.

[2021-09-27 12:57] #4 closed, assigned to JensUweUlrich

[2021-09-27 13:09] JensUweUlrich opened #23 "Add option to use remote or local guppy GPU basecalling"
Users should have the option to decide whether to use local CPU base calling with DeepNano or local/remote GPU base calling with Guppy.

Tasks:

- Add option to the TOML configuration

[code]

- divide  libBasecaller into two subprojects and add ZeroMQ to the CMake project for Guppy base calling
- create structs, objects and methods for message exchange with basecall_server

[2021-09-27 13:13] JensUweUlrich opened #24 "classification with many IBFs"
If many target IBF files are provided for classification, only best match for every read is reported

[2021-12-07 10:59] #23 closed, assigned to JensUweUlrich

[2021-12-08 21:44] #24 closed, assigned to JensUweUlrich

[2021-12-08 21:46] #21 closed, assigned to JensUweUlrich

[2022-01-18 08:40] #22 closed, assigned to lutfia95

[2022-01-18 09:22] JensUweUlrich opened #28 "add additional config parameters"
[MinKNOW]
channels = [1, 256]

[Basecaller]
config = "dna_r9.4.1_450bps_fast"

[2022-01-18 15:54] JensUweUlrich opened #29 "TOML refactoring & bug fixing"
1. Read/Pares TOML file only once and store all parameters in parameter structs
    => at the moment this is done first when the logger is initialized, and a second time when parameters will be parsed
    => avoid parameter parsing dependent on usage, which leads to code duplications. Store all parameters in a config object and use parameters from that object when dividing between usages
2. Avoid

[2022-01-18 16:32] #14 closed, assigned to JensUweUlrich

[2022-01-18 16:33] #16 closed, assigned to JensUweUlrich

[2022-01-19 20:08] #28 closed, assigned to JensUweUlrich

[2022-02-03 16:00] #29 closed

[2022-02-04 12:52] JensUweUlrich opened #34 "Move to seqan3"
Move from seqan2 to seqan3

[2022-02-04 12:55] JensUweUlrich opened #35 "Create automated Tests for ConfigReader"

[2022-02-11 07:57] Huanle opened #36 "compilation error"
Hi @JensUweUlrich ,

thanks a lot for developing readbouncer.

I was trying to compile following the *compilation on linux* instruction.
I ran into errors at the 1st config stage.
[code]
Can you please help to sort it out what's going wrong?
Thanks heaps in advance.

[2022-02-11 08:11] JensUweUlrich commented on #36
Hi @Huanle,

thanks for your message and your interest in using ReadBouncer.

Could you please tell me which compiler and compiler version you are using. It seems like you tried to build ReadBouncer with an older compiler that is missing std::filesystem. I recommend using gcc-9 and later.
BTW: We also provide precompiled binaries for linux to avoid running into compilation (and linking) errors.

B

[2022-02-11 09:11] Huanle commented on #36
Hi @JensUweUlrich ,

thanks a lot for your prompt reply. I was using the following compliler.

cmake version 3.21.0

I will give gcc-9 a go.

[2022-02-11 09:28] JensUweUlrich commented on #36
Ok. `std::filesystem` is not supported in gcc-7. I will add gcc-8 or later as a requirement to the readme.

Don't hesitate to get back to me if you run into further troubles.

[2022-02-12 02:14] Huanle commented on #36
Hi
Hi @JensUweUlrich,

Thanks a lot for your kindness.
I just ran into a new error after upgrading gcc7 to gcc8. It seems to be close to success though :-)

gcc --version
gcc (Ubuntu 8.4.0-1ubuntu1~18.04) 8.4.0

[ 95%] Building CXX object minknow/CMakeFiles/ReadUntil.dir/Acquisition.cpp.o
[ 95%] Building CXX object minknow/CMakeFiles/ReadUntil.dir/Analysis_Configuration.cpp.o
[ 95%] Building CXX o

[2022-02-12 19:29] JensUweUlrich commented on #36
Hi @Huanle

that looks weird. Seems like CMake did not set the include path for `stduuid` correctly. I sucessfully built ReadBouncer with gcc-8 today. I would suggest to delete everything within your `build` directory and repeat the entire build workflow with the following comands:

[code]
Cheers
Jens

[2022-02-13 14:51] Huanle commented on #36
Thanks a lot @JensUweUlrich for your advice.

I deleted the `build` folder and then repeated the processes.
This time it proceeded further before it failed again.

[ 97%] Generating minknow/proto/minknow_api/rpc_options.pb.cc, minknow/proto/minknow_api/rpc_options.pb.h, minknow/proto/minknow_api/rpc_options.grpc.pb.cc, minknow/proto/minknow_api/rpc_options.grpc.pb.h
[ 97%] Building CXX object mink

[2022-02-14 11:08] JensUweUlrich commented on #36
Hi @Huanle

I guess I know what's going on here. Could you try to install uuid with the following statements?:
[code]
I expect this will solve the issue.

[2022-02-14 20:56] JensUweUlrich commented on #36
Hi @Huanle

I pushed some changes to the master branch that should fix the problem. Again, I recommend to make a clean build.

Cheers
Jens

[2022-02-18 04:20] Huanle commented on #36
Hi @JensUweUlrich ,

thanks a lot!
This time, I re-cloned the git repo and repeat the installation commands. The error message remains.

[code]

[2022-02-18 13:02] JensUweUlrich commented on #36
Hi @Huanle

That was a different kind of error. Your system kernel doesn't support statx system calls, that are used by Boost, which is part of our precompiled GuppyClientLib. I upgraded the GuppyClientLib to use Boost-1.77 with the usage of statx system calls as describd [here](https://github.com/boostorg/filesystem/issues/172). Please update your repository before trying to build again. I hope t

[2022-02-19 16:31] JensUweUlrich commented on #36
The libGuppyCppClient_linux_x86_64.tar.gz was corrupted. I uploaded it again.

[2022-02-20 10:19] Huanle commented on #36
Hi @JensUweUlrich ,
Many many thanks. It's been successfully compiled.

[2022-02-20 10:19] #36 closed

[2022-02-23 07:00] JWDebler opened #37 "[Error] Could not find DeepNano weights file - but I am using Guppy"
Hi,

I am trying to run a simulation test, but keep getting this error, even though I have "Guppy" as my basecaller in my config file.

I downloaded the precompiled linux version.

my config.toml looks like this:

[code]

I'm calling it like this:
`johannes@nanopore:~/Downloads/ReadBouncer-1.1.0-Linux/bin$ ./ReadBouncer config.toml `

And I am getting this output:

[code]

Any idea what might be g

[2022-02-23 11:41] JensUweUlrich commented on #37
Hi @JWDebler

thanks for raising the issue and your interest in ReadBouncer.

I guess the problem relates to your config.toml. First, please indicate the port numbers as strings, e.g. `port = "5555"`. We will do some improvements in the near future that will also allow to specify port numbers without quotation marks.

However, the main issue here is, that you didn't state the config file for the g

[2022-02-24 01:57] JWDebler commented on #37
Hi @JensUweUlrich ,

I am one step closer. I got it working. The problem seemed to be that I was running ReadBouncer from within its bin directory.

`johannes@nanopore:~/Downloads/ReadBouncer-1.1.0-Linux/bin$ ./ReadBouncer config.toml `

First I changed the config as you suggested and it failed as before.

Then I went out of the ReadBounder folder structure and ran again:

`johannes@nanopore:~/Dow

[2022-02-24 09:11] JensUweUlrich commented on #37
Hi @JWDebler

Could you provide me with the output files, log files and your config.toml file? You can zip them and send to jens-uwe.ulrich@hpi.de. That makes debugging easier for me.

Thanks
Jens

[2022-02-25 12:45] JensUweUlrich commented on #37
Hi @JWDebler

Thanks for sending me the log files. Although they were not that useful, I was lucky to reproduce the seg fault. This was a little bug related to the management of already seen reads and I fixed it immediately. I updated the Linux binaries as well, so that you can retry to test with the playback run.

Cheers
Jens

[2022-02-25 12:56] JWDebler commented on #37
Excellent news! I'll try it first thing Monday morning. Thanks.

On Fri, 25 Feb 2022, 20:45 Jens-Uwe Ulrich, ***@***.***>
wrote:

[2022-02-28 08:17] JensUweUlrich commented on #37
Sorry, I just forgot to update the Readme.md

Cheers

[2022-03-09 16:47] foxchase opened #40 "Timeout waiting for reply to request: LOAD_CONFIG"
Hi Jens-Uwe,
I got an error when I tried to duplicate what you posted. Any advice, please. Thank you!
attached is the screen-shot and the config is below.
![ksnip_20220309-112529](https://user-images.githubusercontent.com/28757518/157489074-40601c8a-5afa-4d62-8b0a-61275ac27750.png)
usage               = "target"
output_directory    = '/home/jpei/Desktop/nanopore/ReadBouncer-1.1.0-Linux/output/'
lo

[2022-03-10 15:04] foxchase commented on #40
Thank you Jens for your reply.
I have RTX A5000(16GB)/i9(8cores). I checked the guppy is OK and correct cfg file, below are the screenshots for GPU and guppy service. I tried again and got the same error. BTW, another question: do I need the depletion file if only for target enrichment?
Thank you.
![ksnip_20220310-095112](https://user-images.githubusercontent.com/28757518/157689102-c03e838e-aca7-4

[2022-03-10 20:53] JensUweUlrich commented on #40
Ok. I was not aware that Guppy 5.1.15 already introduced IPC sockets for the basecall server. I thought this was only introduced with Guppy 6. As a quick workaround you could try to change the config.toml as follows:

[code]

Please let me know if this fixes the problem. Otherwise, I will have to dive deeper into the dark matter of IPC sockets and change the code accordingly :-(

Cheers
Jens

[2022-03-10 21:14] foxchase commented on #40
Thank you for your reply.
I tried with what was suggested, but no luck, attached is the screenshot.
![ksnip_20220310-161053](https://user-images.githubusercontent.com/28757518/157755763-bb2e3c16-b044-4df0-ad4b-c2d5576945ec.png)

[2022-03-10 21:40] mahreenkn commented on #40
Hi all, just wanted to jump in to report that I'm currently seeing a similar error; running Guppy v. 5.1.15 as well. Guppy GPU is up and running, and my toml file is almost identical to above.

[code]
I'm not sure if this error is due to the same reason, or a different one? Thought I'd post it here anyway.
Thanks for your help!

[2022-03-10 21:48] foxchase commented on #40
Thank you Jens for your quick reply.
Do I need both target files and deplete files for just enrichment? or only target files are OK for enrichment?

[2022-03-10 23:54] JWDebler commented on #40
I have the same problem as @mahreenkn. Running Guppy 5.1.15, but in TCP mode. This is what my guppy.service line looks like, and live GPU basecalling via minknow works fine.

[code]
But ReadBouncer doesn't seem able to connect:

[code]

[2022-03-14 19:56] JensUweUlrich commented on #40
I did some investigations today. It definitely has nothing to do with the TCP or IPC usage. ONT changed something in the layout of the messages sent between basecall server and basecall client. I'm currently upgrading the client to support Guppy 6. I guess this will occupy the next days. But I will get back to you asap.

[2022-03-16 19:55] foxchase commented on #40
Thank you for your diligent work.

[2022-03-18 19:14] mahreenkn commented on #40
Hi @JensUweUlrich - thank you for the update; excited to try this out!

Trying to compile the updated version (1.1.1) gave me the following error after running `cmake  ../src`. I was able to compile the previous version (on Linux) the same way but perhaps I'm doing something wrong? I double-checked and I have the necessary dependencies installed.

[code]

Thank you for your help!

[2022-03-22 09:30] JensUweUlrich commented on #40
Hi @mahreenkn

I removed the merging comments that were accidentally leftover on the master branch. Should compile now without errors.

Cheers

[2022-03-22 16:45] mahreenkn commented on #40
Thank you @JensUweUlrich! I recompiled, and re-ran the command but I  seem to be getting this error:

[code]
I can try with Guppy 6 instead and report back if that would be helpful (if you think that's what the `Server protocol version [10.0.0] is incompatible with request protocol version [10.1.0].` error might be related to?).

Also, it may also be useful to note I'm running this on Ubuntu 20.04

[2022-03-23 20:31] JensUweUlrich commented on #40
Ok. that was something I suspected. ONT released so much different guppy protocol message versions that it's hard to keep up with all of them. I really recommend to use Guppy 6 at this point. We started an adaptive sampling run with ReadBouncer on Monday where we used Guppy 6 and did not recognize any issues.

[2022-03-25 13:45] #37 closed

[2022-03-30 12:13] merfre opened #42 "Make error while installing ReadBouncer"
Hello,

I am trying to install ReadBouncer on an Ubuntu 20.04 machine and have run into an error that I cannot fix. I followed your instructions, got all the dependencies listed and followed the instructions for compilation on Linux. The first 5 lines ran perfectly fine, but when I ran the second cmake line I got a strange error (pasted below) that I do not know how to fix. I tried updating all my

[2022-03-30 14:15] JensUweUlrich commented on #42
Hi @merfre

Thanks for your interest in ReadBouncer.

I think the issue originates from the new MinKNOW API version, that was released some days ago. As long as you are using the MinKNOW version 4.5.0, you can use the prebuild binaries from [here](https://github.com/JensUweUlrich/ReadBouncer/releases/tag/v1.1.1). I also did a quick fix on the ReadBouncer branches to use only version 4.5.0 of the m

[2022-03-31 12:49] merfre commented on #42
Hello @JensUweUlrich

I deleted what I had and started over again - it worked! Thank you very much for your swift reply and fix.

[2022-03-31 12:50] #42 closed

[2022-05-19 09:58] Kalior opened #43 "Support Minknow Core/API 5.0"
Hi,

Really fantastic work on this project! Looks like a great alternative to readfish/uncalled/ONT's own adaptive sampling!

I wanted to run this on a fresh install of Minknow, but since march Minknow ships with Minkow core 5.0 (see https://community.nanoporetech.com/posts/software-release-22-03-2-f-9633).  As I understand their API, this major update won't be backwards-compatible with the previo

[2022-05-20 07:41] JensUweUlrich commented on #43
Hi @Kalior

Thanks for your interest in ReadBouncer. As you correctly pointed out, MinKNOW core 5.0 and the corresponding API version include some significant changes that are not supported by our latest ReadBouncer version. @lutfia95 is currently working on that and we hope to release a new version solving this issue soon.

Cheers

[2022-05-20 07:51] Kalior commented on #43
Fantastic!  Looking forward to it!

[2022-06-28 16:50] pspealman opened #44 "Problems connecting to MinKnow"
Hello,

Trying to run our first adaptive sampling experiment using ReadBouncer. We verified that the playback simulation works (and then undid the changes by setting data_generation.simulated_device=0 and device.simulator_device_count=0). And that the sequencer works without readbouncer. But when trying to use readbouncer we get the following error:

![image](https://user-images.githubusercontent.

[2022-06-28 17:27] JensUweUlrich commented on #44
Hi @pspealman

could try again by changing line `port = 9501` into `port = "9501"`.

Cheers
Jens

[2022-06-28 17:36] pspealman commented on #44
(also a note - I'm running MinKnow 21.06.0)

[2022-06-28 18:08] JensUweUlrich commented on #44
Oh wait... now I see the problem. It seems our parameter `flowcell = "FAT09957"` is kind of misleading. It should point to the device name. So in your case, it has to be `flowcell = "MN28420"`. Sorry for the confusion. I guess we need to change that in the next release. I hope you can roll back to MinKNOW version 21.06.0, because our latest release does not support MinKNOW core 5.1.

[2022-06-28 19:05] pspealman commented on #44
Wonderful - I rolled back to 21.06.0 (luckily I still had the original exe, these are no longer accessible through ONT) and then changed the flowcell parameter to point to the device name and it is now connecting!

![image](https://user-images.githubusercontent.com/32845376/176262803-17cc53ee-eb47-4f3b-bb7b-7dcf18d41694.png)

(on a side note, changing the `port = 9501 into port = "9501"` does not

[2022-06-28 19:05] #44 closed, assigned to nobody

[2022-06-28 21:40] pspealman commented on #44
Well, I think the answer to that is a cautious 'maybe'.

We sequenced '1.06 M' reads using two small ibfs as enrichment targets. We found 738816 as categorized but checking the 'read_until_decision_stats.csv' file we find that all the decisions were 'unblock' and the median 'read_nr' is 5544 and the median 'sequence_length' is 286.

We'll do basecalling and alignment tonight and see what the reads

[2022-06-29 12:36] pspealman commented on #44
So the answer is, unfortunately, 'no'. We see similar rates of enrichment with ReadBouncer and without. There are sequences that I think should be identified as positive - that is the target occurs in the first few hundred bases of the fragment - but which are not being identified as positive in the 'read_until_decision_stats.csv' file.

A couple of questions - could it be a performance issue? We

[2022-06-29 14:17] JensUweUlrich commented on #44
First of all, what is the definition of 'positive' in your experiment? An unblocked read or a target sequence you want to enrich for?

If I understand your experimental setup correctly, you're sequencing some bacterial samples and want to enrich for ARGs and Integrons, providing those sequences in the target filters. With 4,000 genes (bins), the IBF should be small enough to fit into the RAM and h

[2022-06-29 14:59] pspealman commented on #44
Thanks for the feedback, you definitely understand the nature of the experiment.
"Positive" in this case is that the target sequence we are looking to enrich for.

The 95,286 bin was all ribosomal variable sequences (LSUs) - we tried it with that noticed the categorization time was too high (only 23 out of ~100,000 were classified) so we stopped, removed it. We restarted using 4634 (ARGs) and 4 (I

[2022-06-29 15:56] JensUweUlrich commented on #44
We intended to set the minimum prefix size to 200 bp because the classification specificity drops significantly for smaller sequences, while after 1500 bp of sequencing the classification decision does not change anymore. We could easily add a parameter to the config where you would specify the minimum and maximum prefix length of a read for classification. However, if only the suffix of the read

[2022-06-29 17:41] pspealman commented on #44
Thanks for the clarification. I really appreciate your time in helping us with this. We would love to use ReadBouncer to perform adaptive sampling in educational and research environments that lack access to high end hardware.

I think that would be helpful - and hopefully not just for me.

I understand and agree that the minimum prefix of 200 bp makes sense. When I was reading the method I misund

[2022-06-29 19:23] JensUweUlrich commented on #44
I will open a bug for the feature but it could take some time until I have implemented it.

That's exactly what I suspected.

Not exactly, because this would mean the entire 1,500 bp prefix needs to match. I'm currently thinking about a design where you provide a minimum chunk length of i.e. 300 bp and switch on a "single_chunk_matching" parameter such that there is no concatenation of the chunks,

[2022-06-30 14:35] pspealman commented on #44
This is interesting because we have no "stop_receiving" decisions. Only "unblock".

I've made the file available [here](https://drive.google.com/file/d/1_Taekf8oSyxGOZiJtIVXDbnglaqCzCB3/view?usp=sharing), in the hopes that it helps.
https://drive.google.com/file/d/1_Taekf8oSyxGOZiJtIVXDbnglaqCzCB3/view?usp=sharing

[2022-06-30 18:47] syncrotron opened #45 "TOML File Key in README Incorrect"
Through attempting to get ReadBouncer up and running with a custom TOML file, I noticed that within the readme file ["Building the database"](https://github.com/JensUweUlrich/ReadBouncer/blob/master/README.md#building-the-database) section the TOML key `output_dir` is referenced. If a TOML is provided to Breadboard with this key, the following error is provided:
[code]
The reference `output_dir` i

[2022-06-30 19:17] JensUweUlrich commented on #45
Thanks for pointing that out. That's an error in the documentation. The parameter should be `output_directory`. I will change that immediately in the documentation.

[2022-06-30 19:21] #45 closed

[2022-07-29 11:22] maximilianmordig opened #47 "Unable to build ReadBouncer"
Hi

I have a problem with building ReadBouncer. Here is the error I get after executing
`cmake ../src` as per the README:
[code]
On `cmake version 3.20.3`.
I am not very familiar with `cmake`. I cannot find the file `cmake/protobuf.cmake`
I also searched on Google for `find_package(Protobuf REQUIRED)`, but didn't find anything useful.

Do you know how to solve this issue?

Thanks in advance.

[2022-08-09 13:00] gchevignon opened #48 "Error in readme"
Hello,
Thanks a lot for your tool !
I am only at the classify step but this tool seems amazing.
I have struggled a lot making the first test working because there is an error in your readme:
In all your exemple of code for the toml file you use : deplete_files = ['xxx.fasta', 'xxx.fasta'] instead of depletion_files = ['xxx.fasta', 'xxx.fasta'].
Best
Germain

[2022-08-09 13:35] lutfia95 commented on #48
Hi @gchevignon,
Thanks for your interest in ReadBouncer. In the `config.toml` file and the code examples is correct written as `deplete_files`. In the `README.md` there are some `depletion_files` insetad of `deplete_files`. Thanks for pointing that out, I will change it now.

[2022-08-09 13:38] gchevignon commented on #48
Hi thanks for your reply !
Yes I understood there was no error in the code 1min before your reply ...
But there is something weird...

**If I use this toml:**

usage               = "classify"
output_directory    = '/home/userlocal/work/test_readbouncer.dir/'
log_directory       = '/home/userlocal/work/test_readbouncer.dir/'

[IBF]

kmer_size     = 13
fragment_size = 100000
threads       = 12
targ

[2022-08-09 16:28] lutfia95 commented on #47
Hi @maximilianmordig,

sorry for the late answer, can you please try to install `uuid` and `uuid-dev` by `sudo apt install uuid uuid-dev`?. I would suggest deleting everything within your build directory and repeat the entire build process again after installing `uuid` and `uuid-dev`. You can also use the prebuild binaries from [here](https://github.com/JensUweUlrich/ReadBouncer/releases/tag/v1.1.

[2022-08-09 23:15] lutfia95 commented on #48
Hi @gchevignon,

The `deplete_files` contain the reference sequences for reads you would like to reject. Providing only `deplete_files` will lead ReadBouncer to classify given reads as rejected if their prefixes match against at least one of the given files.
Providing `target_files` : the reads will be assigned to the best matching file.

In your first results, where you provided both `deplete_fil

[2022-08-10 22:47] trokhym1 commented on #43
Are we there yet?

[2022-08-11 12:09] gchevignon commented on #43
Hello,
Would you please share with us install API for Minknow 4.5.0 ?
Thanks

[2022-08-17 10:56] gchevignon commented on #43
Hello,
It seems that Minknow 5.1 is now supported by ReadBouncer, so I have compiled the last readbouncer 2h ago.
However I got an error when I start readbouncer :

/usr/local/ReadBouncer/bin/ReadBouncer /home/userlocal/Bureau/Scripts.dir/ReadBouncer.dir/config_classify_test.toml

Error in command line!
Error parsing the toml file:
Error in
[error] key "log_directory" not found in the top-level ta

[2022-08-17 11:45] lutfia95 commented on #43
Hey @gchevignon,

we also updated the command line, to add the `config.toml` file you have also to use the flag `--config`. In your case will be:
`/usr/local/ReadBouncer/bin/ReadBouncer --config /home/userlocal/Bureau/Scripts.dir/ReadBouncer.dir/config_classify_test.toml`

Best,
Ahmad

[2022-08-17 11:51] JensUweUlrich commented on #43
@lutfia95

could we please add a meaningful error message for the missing `--config` parameter?
Thanks

[2022-08-17 12:11] gchevignon commented on #43
Sorry I did not pay attention to the --config parameter .... I'm a little too excited to get readbouncer working!
Thanks a lot

[2022-08-17 13:46] gchevignon commented on #43
Me again ...
I have succeeded to setup the simulated device in Minknow and readbouncer is connecting it but I got an error with guppy:

/usr/local/ReadBouncer/bin/ReadBouncer --config /home/userlocal/Bureau/Scripts.dir/ReadBouncer.dir/config_target_test.toml
59192 bins were loaded in 2.20847 seconds from the IBF
1930 bins were loaded in 0.0754784 seconds from the IBF
Trying to connect to MinKNOW
H

[2022-08-17 14:15] JensUweUlrich commented on #43
Can you give us some more information on how you use Guppy:

1. Which Guppy version are you using?
2. Do Guppy and ReadBouncer run on the same machine?
3. Are you using the default Guppy parameters provided with MinKNOW or did you start Guppy separately?

Thanks
Jens

[2022-08-17 15:00] gchevignon commented on #43
I have installed guppy-gpu following this protocol : https://community.nanoporetech.com/docs/prepare/library_prep_protocols/experiment-companion-minknow/v/mke_1013_v1_revch_11apr2016/installing-gpu-version-of-guppy-with-minknow-for-minion

So I have installed ont-guppy_6.1.5_linux64.tar.gz

Yes they run on the same machine

I probably run Guppy with MinKNOW but not sure ...

Thanks

Germain

[2022-08-17 18:27] JensUweUlrich commented on #43
Ok. Than you will probably use the default settings of Guppy, which means that the basecall_server uses IPC. You will need to add the following line to the config.toml file:
[code]

I hope this fixes the problem.

Best
Jens

[2022-08-18 12:32] JensUweUlrich commented on #48
Resolved in version 1.2.0

[2022-08-18 12:32] #48 closed

[2022-08-18 12:34] JensUweUlrich commented on #40
Guppy 6 support in versions 1.1.1. and 1.2.0

[2022-08-18 12:34] #40 closed

[2022-08-24 13:46] gchevignon commented on #43
Hey,
sorry for the late reply ... this did not fix the problem.
Best
Germain

[2022-08-24 20:00] JensUweUlrich commented on #43
Ok. Could you please check if there is a `/lib/systemd/system/guppyd.service` file on your system and post the content of that file?

[2022-08-25 07:37] gchevignon commented on #43
[Unit]
Description=Service to manage the guppy basecall server.
Documentation=https://community.nanoporetech.com/protocols/Guppy-protocol/v/GPB_2003_v1_revQ_14Dec2018

# Disable start rate limiting -- the service will try and restart itself forever.
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/usr/lib/nvidia-current-ont:$LD_LIBRARY_PATH"
ExecStart=/opt/ont/guppy/bin

[2022-08-25 09:25] JensUweUlrich opened #50 "Avoid Exception Handling in performance sensitive code blocks"
According to Daniel Lemire, exception handling is quite expensive ([https://lemire.me/blog/2022/05/13/avoid-exception-throwing-in-performance-sensitive-code/#comments](https://lemire.me/blog/2022/05/13/avoid-exception-throwing-in-performance-sensitive-code/#comments)). Thus, we should clean the code and avoid exceptions in all cases except reading and writing files.

[2022-08-25 09:45] JensUweUlrich commented on #43
Thanks
You would need to change the ExecStart line and add some parameters to make live-basecalling with Guppy use GPUs, which is needed for adaptive sampling. I also assume that there is a problem with the permissions on the `/tmp/.guppy/5555` file. Thus you could try to change the line to
`ExecStart=/opt/ont/guppy/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fas

[2022-08-25 12:45] gchevignon commented on #43
I have modified the /lib/systemd/system/guppyd.service and ReadBouncer config TOML file accordingly but I still have the same error.
I have also played around with  /etc/systemd/system/guppyd.service file and /opt/ont/minknow/conf/app_conf file but I am unable to get this working.
I have changed permission on the /tmp/.guppy/5555 with sudo chmod a+w /tmp/.guppy/5555 (from this discussion :  https:

[2022-08-26 01:10] moisann commented on #43
Hi there,
I am trying to run a simulation test, but I have the same problem here...

[code]
Thanks

[2022-08-26 07:45] JensUweUlrich commented on #43
Just for comparison, this is the Service entry of my guppyd.service file on my Nvidia Xavier

[code]

and this is my ReadBouncer config.toml from a remote laptop

[code]

I guess the problem is that you did not provide the config file. Please also check whether the basecaller service is working by

`sudo service guppyd status`

[2022-08-29 04:47] moisann commented on #43
I still haven't solved the problem...(I can complete testing with DeepNano)
Here is my toml file:
[code]

and minknow/guppyd status:
[code]
[code]

Was I not able to provide the config file?

[2022-08-29 10:16] JensUweUlrich commented on #43
@moisann

That's strange. I used excatly the same parameter settings for the basecaller as you did and it works for me.
Can you also make sure that you have installed the Guppy-GPU version. The output from your `service guppyd status` command does not tell anything about using CUDA. Mine looks like this

[code]

It also seems to me that you are starting Guppy with the user `minknow` and when you s

[2022-08-29 19:58] gchevignon commented on #43
Hello,
Because I have modified so much different file I have decided to reinstall minknow and guppy ... and I have eventually reformated my computer to restart on clean base ...
Unfortunatly the new install of minknow did not install guppyd.service file ... So I am stuck and I can't even install guppy-gpu so I made a ticket to Nanopore support regarding this missing guppyd.service file.
Best

[2022-08-29 20:05] JensUweUlrich commented on #43
You can easily create the guppyd service file on your own because it is a simple text file. I also recommend you to read the repository from [Miles Benton](https://github.com/sirselim/jetson_nanopore_sequencing) where he provides a guppyd.service file as well.

[2022-08-29 23:32] matthewlinks opened #51 "1.2.0 - getting core dump on classify test"
I'm trying to check that my install is working by working through some of the examples in the readme.

When trying to get the classify example to work I'm running into a problem after the filters are built and it tries to start classifying.

[code]

My toml

[code]

InterleavedBloomFilterLog.txt shows info messages about successfully storing IBF to file.

When I check output_directory the .ibf fil

[2022-09-05 07:11] JensUweUlrich commented on #51
Hi @matthewlinks

I'm actually looking into the code and try to figure out what the issue is. I could reproduce the error on Linux, but as far as I can see, it only occurs when using "classify". The "target" usage for adaptive sampling seems to be unaffected.

[2022-09-06 13:22] merfre commented on #40
Hello,

I'm sorry to comment on this closed issue, but I am now getting this error with the new version of ReadBouncer. I have updated ReadBouncer on my machine (Ubunto 20.04) and it is running successfully (able to create ibf files and connect to minknow) except for this error occurring when I try to perform adaptive sequencing on a playback run.

Here is the output I get:

`sudo /home/merfre/Rea

[2022-09-07 08:08] merfre commented on #40
Hi @JensUweUlrich

Thank you for the quick reply! Yes, they are all run on the same machine. I tried those changes and got the same error. I also went and changed guppy to 6.0.6 and it connected more than it has in the past (only with -`-use_tcp` and `port --5555` because without tcp I get the same error), but now I am getting a different error:

`sudo /home/merfre/ReadBouncer/build/ReadBouncer-1.

[2022-09-07 08:57] JensUweUlrich commented on #40
@merfre

This error is related to issue #51. I'm currently working on solving the problem. But it will take some days since I'm currently at a conference.

[2022-09-08 07:42] #51 closed

[2022-09-12 09:44] merfre commented on #51
Hello @JensUweUlrich

Sorry for another message, I am just having the same error when doing a playback run despite updating to version 1.2.1:

`sudo /home/merfre/ReadBouncer/build/ReadBouncer-1.2.1-Linux/bin/ReadBouncer --config ./test2_config.toml`

709 bins were loaded in 0.122398 seconds from the IBF
28831 bins were loaded in 4.1305 seconds from the IBF
Trying to connect to MinKNOW
Host : 127.0

[2022-09-13 18:06] JensUweUlrich commented on #51
@merfre

It seems that you built ReadBouncer on your system. I guess you need to delete the whole build directory and repeat the entire build process. If you want to avoid that, you can also download pre-built binaries for Linux x64 and start immediately.

[2022-09-15 10:24] virhostnet opened #53 "How to use ReadBouncer on a playback run made of multiple bulk fast5 files ?"
Dear ReadBouncer team,

We have generated a multiple bulk fast5 files run (~200Go, 4000 reads per file) on MK1C (all Bulk output items selected) and would like to test ReadBouncer on a playback run.

Is it possible to playback the run on this data structure? Simulation seems to accept only path to a single bulk fast5 file not a directory of files ?

Thanks by advance,

Cheers

Vincent

[2022-09-16 08:59] merfre commented on #51
@JensUweUlrich

I tried that again (deleted the entire readbouncer directory and compiled using the instructions on the readme) and got the same error:

`sudo /home/merfre/ReadBouncer/build/bin/ReadBouncer --config ./test2_config.toml`

709 bins were loaded in 0.106683 seconds from the IBF
28831 bins were loaded in 4.89535 seconds from the IBF
Trying to connect to MinKNOW
Host : 127.0.0.1
Port : 9

[2022-09-16 14:26] gchevignon commented on #43
Hey !
Nanopore just released a patch to fix the guppyd.service problem with last version of Minknow : https://community.nanoporetech.com/posts/minknow-22-08-8-patch-rele

I hope readbouncer will work with this new release ...?

I will not be able to test it before next tuesday.
Best
Germain

[2022-09-16 15:18] JensUweUlrich commented on #51
That's strange. Could you delete and rebuild the IBF index files with version 1.2.1. Maybe the files have been corrupted while saving using the version 1.2.0.

[2022-09-19 20:12] matthewlinks opened #54 "I was going through the human chromosome 21 & 22 example and am encountering what looks like a communications error with guppy"
I've been able to confirm that the build of readbouncer I'm running is working based on success with the classify test and being able to build the IBFs for the human example.

Readbouncer starts up and signals its ready for the sequencing run to start. But when I start the sequencing run I see an error about the communication with guppy

[code]

TOML for Readbouncer is

[code]

This is being run o

[2022-09-19 20:21] JensUweUlrich commented on #54
@matthewlinks

Seems like ONT has changed the Guppy message format again with version 6.2 *sigh*
I will look into it tomorrow.

[2022-09-19 20:24] JensUweUlrich commented on #53
Would you mind sharing the bulk fast5 file with me? It's hard to find such raw data and I'm always looking for data sets that help me improve ReadBouncer.

[2022-09-19 20:26] #47 closed

[2022-09-19 20:27] matthewlinks commented on #54
@JensUweUlrich

Thanks. Appreciate your efforts

[2022-09-22 21:03] matthewlinks commented on #54
Please let me know if there is additional logging you'd like me to try and capture to assist with this?

[2022-09-23 15:08] gchevignon commented on #43
Hello, this patch indeed fixed the problem with guppyd.service which is now guppyd-cpu.service ....
So i was able to restart simulation run but readbouncer still produce the same error as before :

/usr/local/ReadBouncer/bin/ReadBouncer --config /home/userlocal/Desktop/Scripts.dir/ReadBouncer.dir/config_target_test-V2.toml
965 bins were loaded in 0.0415536 seconds from the IBF
29596 bins were load

[2022-09-23 16:37] JensUweUlrich commented on #54
No thanks. I hope to release a fix for the issue next week.

[2022-09-27 06:33] JensUweUlrich commented on #54
@matthewlinks

ReadBouncer release 1.2.2 should fix this issue.

[2022-09-27 06:35] JensUweUlrich commented on #43
@gchevignon

ONT did break the ReadBouncer-Guppy-Interface with their latest changes, as also reported in issue #54. This should be fixed in release 1.2.2

[2022-09-27 06:47] gchevignon commented on #43
Great Thanks a lot !

[2022-09-27 07:16] virhostnet commented on #53
We will be pleased to share this bulk file that we are currently producing with you (we did not keep the single bulk files last time, only multifast5 files which do not contain enough information for playback). This can be done in a context of a scientific collaboration. We can discusse about that in private mail as it invloved other collaborators ? Cheers

[2022-09-27 12:38] gchevignon commented on #54
Hello, ReadBouncer release 1.2.2 did not fix the communication problem on my side ...
I still have the same error.
Thanks
Germain

[2022-09-27 13:07] JensUweUlrich commented on #54
@gchevignon
Which Guppy version are you using? I tested with Guppy 6.3 and everything worked fine for me.

[2022-09-27 13:19] gchevignon commented on #54
My Guppy is Version 6.2.11 the one that come with minknow ...
I'll try to install Guppy 6.3 !

[2022-09-27 13:30] JensUweUlrich commented on #54
Seems like every minor release breaks the API (*sigh*)

[2022-09-27 15:12] gchevignon commented on #54
Ok so when I install  Guppy 6.3.7 this remove the /lib/systemd/system/guppyd-cpu.service ... so the simulation run crash ... I have posted a comment at Nanopore community regarding this : https://community.nanoporetech.com/posts/guppy-v6-3-1-release
This is a never ending story ;)

[2022-09-27 15:24] JensUweUlrich commented on #54
Wait...did you install `ont-guppy` or `ont-guppy-gpu`? The last one is definitely needed for adaptive sampling. I'm not sure why this should delete another service file. Sounds weird! What does the output of `guppy_basecall_server --version` tell you about your actually installed guppy?

[2022-09-28 07:16] gchevignon commented on #54
Hi,
(1) I have first installed Minknow for unbuntu 20 following this protocol : https://community.nanoporetech.com/docs/prepare/library_prep_protocols/experiment-companion-minknow/v/mke_1013_v1_revcl_11apr2016/installing-minknow-on-linu
This come with guppy 6.2.11.
(2) Then I have installed guppy-gpu for unbuntu 20  following this protocol : https://community.nanoporetech.com/docs/prepare/library_

[2022-10-03 08:26] gchevignon commented on #54
Hi,
Would you share the method you use to install guppy 6.3 along with Minknow please ?
Best

[2022-10-03 11:31] gchevignon commented on #54
I am really interested to know how you get guppy 6.3 working in live basecalling with minknow because this should be impossible to set-up according to this post answering my question on the Nanopore community :

Hi [@Germain Chevignon],

I'm afraid it is not possible to mix versions of guppy when configuring MinKNOW for live basecalling.  As MinKNOW 5.2 shipped with guppy 6.2, you must use the sam

[2022-10-04 07:54] JensUweUlrich commented on #54
Hi Mark

I did install the Guppy GPU version provided via nanopore community -> software. I did not test Guppy 6.3 for live basecalling/adaptive sampling from within MinKNOW yet because I don't need that for ReadBouncer. MinKNOW and Guppy are separate instances that run separate servers with which ReadBouncer communicates. But it should be possible to run Guppy 6.3 also from within MinKNOW by just

[2022-10-04 09:16] gchevignon commented on #54
Hi Jens, this was not a message from Mark for you, I have just copy/pasted his (Mark) reply to my question on the community (https://community.nanoporetech.com/posts/guppy-v6-3-1-release#comment_43679) ...  Mark is software developer at Nanopore.

There is something I don't get from your last reply. You say "I did not test Guppy 6.3 for live basecalling/adaptive sampling from within MinKNOW yet be

[2022-10-04 19:08] JensUweUlrich commented on #54
@gchevignon

ok there are some misunderstandings. You don't need to start Guppy from within MinKNOW unless you want to use MinKNOW's inbuilt adaptive sampling feature or want to use live-basecalling of finished reads from within MinKNOW. ReadBouncer does not require you to start live-basecalling from within MinKNOW.
ReadBouncer uses the following workflow:

1. You start a sequencing run within Min

[2022-10-04 21:39] matthewlinks commented on #54
I tried with the 1.2.2 build. No joy

[code]

[2022-10-04 21:41] matthewlinks commented on #54
This is on a gridION with the following software versions

[code]

[2022-10-04 21:42] matthewlinks commented on #54
AdaptiveSamplingExampleIBFs.toml reads

[code]

[2022-10-04 21:45] matthewlinks commented on #54
There are additional updates from ONT available that I would move the system to versions
[code]
@JensUweUlrich Please let me know if you think I should push those updates and retry with 1.2.2? Or if there are other logs you'd like me to capture?

thanks

[2022-10-05 07:38] JensUweUlrich commented on #54
@matthewlinks
That's so annoying. The latest ReadBouncer version 1.2.2 seems to be compatible with Guppy 6.3 but not with Guppy 6.2, while ReadBouncer 1.2.1 is compatible with Guppy 6.0 but not with Guppy 6.1 and 6.2. I'm actually thinking about possibilities to get around these issues without releasing an new ReadBouncer version for every new minor release of Guppy.

You could try to install Gupp

[2022-10-05 18:15] JensUweUlrich commented on #53
@virhostnet
I'm always open for collaborations. You can contact me via jens-uwe.ulrich@hpi.de to further discuss potential projects.
Cheers
Jens

[2022-10-05 18:15] #53 closed

[2022-10-05 18:39] JensUweUlrich opened #55 "Use signal length instead of read length"
Use minimum number of signals instead of minimum required read length => avoids basecalling of too small signal chunks and reduces basecalling errors

[2022-10-05 18:41] JensUweUlrich opened #56 "Dorado basecaller"
add support for basecalling with [Dorado](https://github.com/nanoporetech/dorado)

[2022-10-05 18:42] JensUweUlrich opened #57 "Hierarchical IBF"
exchange IBF with hierarchical IBF

[2022-10-06 07:01] JensUweUlrich commented on #54
I recently uploaded precompiled binaries of ReadBouncer 1.2.2 supporting Guppy 6.2 (https://github.com/JensUweUlrich/ReadBouncer/releases/tag/v1.2.2). I successfully tested adaptive sampling with ReadBouncer and Guppy 6.2.11, which is the latest version coming with MinKNOW. This should fix your problems regarding the INVALID_PROTOCOL error message. Please provide me with feedback after testing it.

[2022-10-06 09:41] gchevignon commented on #54
Thanks a lot Jens for your time !
Unfortunately I can't get it works ....

I have use [ReadBouncer-1.2.2_guppy_6.2-Linux_x64.tar.gz](https://github.com/JensUweUlrich/ReadBouncer/releases/download/v1.2.2/ReadBouncer-1.2.2_guppy_6.2-Linux_x64.tar.gz)

/home/userlocal/Downloads/ReadBouncer-1.2.2-Linux/bin/ReadBouncer --config /home/userlocal/Desktop/Scripts.dir/ReadBouncer.dir/config_target_test-V2.t

[2022-10-06 11:46] JensUweUlrich commented on #54
@gchevignon

you need to specify the Guppy basecalling config your basecall_server uses in the ReadBouncer config. The config should look as follows in your scenario

[code]

Sorry, we are missing this parameter in the documentation. I will fix this immediately.

[2022-10-07 07:19] JensUweUlrich commented on #54
Could you start the basecall_server in the shell using the following command?:
`/opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port 5556 --ipc_threads 3 -x cuda:all --use_tcp`

and change the following lines in the ReadBouncer config:
[code]
Now try out adaptive sampling. If th

[2022-10-07 07:42] gchevignon commented on #54
Here is the error I get with the first command in the terminal:

/opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port 5556 --ipc_threads 3 -x cuda:all --use_tcp
terminate called after throwing an instance of 'boost::wrapexcept<boost::filesystem::filesystem_error>'
  what():  Fai

[2022-10-07 08:04] JensUweUlrich commented on #54
Ok. So the problem is that you have no write permissions in `/var/log/`. Please choose another log directory path like `/home/your-user-name/guppy/log` and then try again to start the basecall_server.

[2022-10-07 08:13] gchevignon commented on #54
OK I have changed writing permission to /var/log/
here is the output of the command

/opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port 5556 --ipc_threads 3 -x cuda:all --use_tcp
ONT Guppy basecall server software version 6.2.11+e17754e, client-server API version 11.0.0, minim

[2022-10-07 08:24] JensUweUlrich commented on #54
I tested the command on my GPU machine and it worked. Are you getting the same error when chaging the port to 5557? Since it's an error message from CUDA, which GPU model is built in your machine?

[2022-10-07 08:24] gchevignon commented on #54
same error with second command with 5556 also

opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port /tmp/.guppy/5556 --ipc_threads 3 -x cuda:all
ONT Guppy basecall server software version 6.2.11+e17754e, client-server API version 11.0.0, minimap2 version 2.22-r1101
log path:

[2022-10-07 08:25] gchevignon commented on #54
NVIDIA GeForce RTX 3080 Laptop GPU

[2022-10-07 08:28] gchevignon commented on #54
with 5557

/opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port 5557 --ipc_threads 3 -x cuda:all --use_tcp
ONT Guppy basecall server software version 6.2.11+e17754e, client-server API version 11.0.0, minimap2 version 2.22-r1101
log path:            /var/log/guppy
chunk size:

[2022-10-07 08:30] gchevignon commented on #54
nvidia-smi
Fri Oct  7 10:29:55 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.141.03   Driver Version: 470.141.03   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Me

[2022-10-07 08:36] JensUweUlrich commented on #54
I don't understand why the basecall_server cannot be started using TCP, but the error when using IPC says that you have no write permission in `/tmp`. Maybe just change the port to `--port guppy/5557` and try to start it again.

[2022-10-07 08:43] gchevignon commented on #54
/opt/ont/guppy-gpu/ont-guppy-6.2.11/bin/guppy_basecall_server --log_path /var/log/guppy --config dna_r9.4.1_450bps_fast.cfg --num_callers 1 --cpu_threads_per_caller 2 --port guppy/5557 --ipc_threads 3 -x cuda:all
ONT Guppy basecall server software version 6.2.11+e17754e, client-server API version 11.0.0, minimap2 version 2.22-r1101
log path:            /var/log/guppy
chunk size:          2000
chun

[2022-10-07 08:52] JensUweUlrich commented on #54
Ok, last try. You may also need to stop the other guppyd.services before starting another basecall_server instance manually.

[2022-10-07 08:59] gchevignon commented on #54
same error ...

[2022-10-07 09:07] JensUweUlrich commented on #54
I suspected that. It seems that something in the installation of the Guppy 6.2.11 went wrong. However from your `nvidia-smi` output, it seems that a guppy_basecall_server was running on your GPU. Could you find out which instance that is incl. version and port?

[2022-10-07 09:09] gchevignon commented on #54
"Could you find out which instance that is incl. version and port?"
How can I do this ?

[2022-10-17 12:22] gchevignon commented on #54
Hi,
@matthewlinks did you succeed to get Readbouncer working ?
Best

[2022-10-21 12:25] edidah opened #59 "ReadBouncer no connecting to MinKnow properly"
Hi Jens Uwe, I got an issue connecting the ReadBouncer to the Minknow as shown in the screenshot attached while using the provided chromosome dataset. Any advice on this issue will be of much help.

Thank you
Moraa
<img width="822" alt="Screenshot 2022-10-21 at 15 22 41" src="https://user-images.githubusercontent.com/44297932/197195263-10358ce3-98d9-4d29-b3e9-167db46498de.png">
<img width="1145" a

[2022-10-21 12:52] JensUweUlrich commented on #59
Hi @edidah

Is there a specific reason why you are trying to connect to MinKNOW using port 9505? If not, then please try to use port 9502, which is the dfeualt port for a secure connection to MinKNOW.

[2022-10-21 13:03] JensUweUlrich commented on #54
@gchevignon

using `ps -A` should give you a list with all processes running on your machine. Just search for the process ID that equals to the process ID of the basecall_server listed by the `nvidia-smi` command. This should give you all necessary information.

[2022-10-21 13:04] #43 closed

[2022-10-21 14:13] edidah commented on #59
Hi JensUweUlrich,

Thanks for the prompt feedback. We initially tried connecting to the port
'9502' but it keeps failing with an error message; cannot connect to the
given host and port addresses. But works fine with port 9504 and 8001/4.
Thanks

On Fri, Oct 21, 2022 at 3:53 PM Jens-Uwe Ulrich ***@***.***>
wrote:

[2022-10-21 14:35] #59 closed

[2022-10-23 03:40] edidah opened #60 "Follow up on issue #59"
Hi Jens-Uwe, I hade raised an issue on MinKnow not connecting correctly: I have attached link below,
https://github.com/JensUweUlrich/ReadBouncer/issues/59#issue-1418263480
We haven't resolve yet any further assistance we be of much help.

Thank you

[2022-10-24 07:30] gchevignon commented on #54
Hi, here is the output of ps -A:
PID TTY          TIME CMD
1063 ?        00:00:06 guppy_basecall_

[2022-10-24 07:48] JensUweUlrich commented on #60
Sorry, I thought you resolved the issue by using port 9504.
So usually you should be able to connect to MinKNOW using port 9502, which is the port to connect to the MK connection manager. Can you please tell me which version of MinKNOW you have installed on your machine?
When you start MinKNOW, do you see the simulated device `MS0000`?

[2022-10-26 07:49] edidah commented on #60
Sorry for the late response.  The Minknow version is MiKnow v.22.05.7. We haven't edited settings to get the simulated device MS0000 for fear of interrupting other sequencing activities. Can the run be done minus the simulated device?

[2022-10-27 10:18] JensUweUlrich commented on #60
Then that's the issue here. For your understanding: ReadBouncer connects to port 9502, which is the MinKNOW manager port. ReadBouncer than asks for the port of the given device name. So in our use case with a simulated device, it asks for the port of device `MS00000`. Since you did not set up the simulated device, MinKNOW manager does not return a valid port and thus we cannot connect to the devic

[2022-11-02 12:18] edidah commented on #59
Hi Jens,
I am still stuck on the simulated device. We have installed the ReadBouncer on GridION device which runs MinKnow. Is the simulated device a virtual machine beside the GridION? And do you have guidelines to setup the simulated device?

[2022-11-03 06:33] edidah commented on #60
Hi Jens,
I am still stuck on the simulated device. We have installed the ReadBouncer on GridION device which runs MinKnow. Is the simulated device a virtual machine beside the GridION? And do you have guidelines to setup the simulated device?

[2022-11-03 10:11] JensUweUlrich commented on #60
Hi

you can create a simulated device by providing the minknow manager with the dedicated parameter. Therefore you first need to modify the following file `/lib/systemd/system/minknow.service` and edit the following lines
[code]
Then you need to reload the daemon via `sudo systemctl daemon-reload` and restart the MinKNOW service via `sudo service minknow restart` (In some cases you need to reboot

[2022-11-04 00:52] edidah commented on #60
Thank you Jens, I will try this. I was wondering what happens when I want to do a real adaptive sampling experiment using the software. Do I still need the simulated device or how do I go about setting it up?

[2022-11-06 19:30] willros opened #61 "Provided linux build gives error"
Hi,

I downloaded the build for linux arm64, but got the following error message when running ReadBouncer:
[code]

Any ideas what could be causing the issue?

Thank you,
William

[2022-11-06 19:32] #61 closed

[2022-11-07 16:37] willros opened #62 "readbouncer cannot connect to minKNOW"
Hi,

I get the following message when trying to run ReadBouncer:
[code]
I am using the latest ReadBouncer for linux x86.
I am using minKNOW 22.10.7 with
MinKNOW core:
5.3.1
Guppy:
6.3.8
Bream:
7.3.2
Script Configuration:
5.3.7

The minknow daemon is up and running, controlled by:
[code]

The config.toml file:
[code]

Any idea what I can try or what is going on?

Thanks a lot,
William

[2022-11-09 08:17] JensUweUlrich commented on #62
Hi @willros

It seems that ReadBouncer cannot connect to the given flowcell port. Did you set up the simulated device `MS00000` in MinKNOW?

[2022-11-09 08:21] JensUweUlrich commented on #60
@edidah

No, you don't need the simulated device for a real adaptive sampling run. In a real experiment, you enter the flowcell into the sequencing device, and MinKNOW will display the name of the flowcell immediately. Instead of `MS00000` you only need to tell ReadBouncer the name/ID of the flowcell.

[2022-11-09 13:34] willros commented on #62
Hi @JensUweUlrich

Yes, I set up the simulated device `MS0000` as instructed in your github repo.
I also did not change the default value for the ports for `guppy` and `minKNOW`.

I can see the simulated the devide in minKNOW and start a dry run inside there, but readbouncer is not able to connect.

[2022-11-10 13:49] JensUweUlrich commented on #62
Just to be sure we don't miss anything: Are you running MinKNOW and ReadBouncer on the same machine? And you have installed the latest ReadBouncer version (version 1.2.2)?

[2022-11-11 03:13] edidah commented on #60
We have been struggling to set up an adaptive sampling run that uses the ReadBouncer for a while now. Despite us feeding the Flow cell ID to the MinKnow the ReadBouncer still doesn't prompt us to start sequencing; see the attached image. Should one start the run from the MinKnow? If yes how should I setup the run parameters and at what step will I integrate the ReadBouncer? Kindly outline for us t

[2022-11-11 07:51] willros commented on #62
Hi,

I was running version 1.1 (from the master branch). I will try to download the latest and see if it works. Thank you!

[2022-11-11 07:53] JensUweUlrich commented on #62
Ah ok, that's probably the issue. ReadBouncer 1.1 is not compatible with MinKNOW 5.x. Using the latest ReadBouncer version should solve your problem.

[2022-11-11 07:56] JensUweUlrich commented on #60
Just to make sure: Are you using the latest ReadBouncer version or version 1.1? ReadBouncer 1.1 is not compatible with MinKNOW version 5.

[2022-11-11 09:16] willros commented on #62
Thanks yet again. Now I am running ReadBouncer exactly as you describe in your example for playback experiment.

Just one more related question; approximately how long will it take until it finishes, using the DeepNano caller?

William

[2022-11-11 11:13] JensUweUlrich commented on #62
That doesn't depend on the base caller. When the sequencing run has finished or has been stopped by the user via MinKNOW, ReadBouncer will also stop running.

[2022-11-11 11:49] JensUweUlrich commented on #60
Are you able to start a run on the simulated device? Can you also confirm that the device `MS00000` is displayed in your MinKNOW GUI? I forgot, that you are running a GridION and maybe the device/flowcell name is different than with the MinION.
Another possibility is that MinKNOW blocks the grpc connection. Can you please open `/opt/ont/minknow/conf/app_conf` file and post the values for
[code]

[2022-11-15 13:22] edidah commented on #60
Hi Jens, we ran the GridION with the suggested values. However, from the output we are not still able to establish a successful connection to the MinKnow: kindly find the attached screenshots for further assistance.

<img width="427" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/44297932/201929692-73e33210-cab4-4742-a26e-d86ce2f3b557.png">

<img width="1041" alt="Screen

[2022-11-15 13:59] JensUweUlrich commented on #60
ok, so it's not the grpc server that refuses the connection. Could it be that the simulated device is named something like `XS1` instead of `MS00000`. Maybe you could provide me with screenshots of your MinKNOW GUI when you try to start a run on the suimulated device.